@charset "utf-8";
/* CSS Document */
*, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, form, fieldset, input, select, textarea, blockquote, th, td, dl, ul, dt, dd, nav {
	margin: 0;
	padding: 0;
	font-family: '微软雅黑', Microsoft YaHei, Arial, Verdana, Helvetica, sans-serif;
	
}
a{
	color: #333;
}
body{
	font-size: 14px;
}
#footS{
	bottom: 0px;
    box-shadow: 0px -1px 3px #E8E7E7;	
    background: #fff;
}
li{
	list-style-type: none;
}
/*返回*/
#fan{
	background: #393A3E;
}
#fan .g_r{
    padding: 3px;
    width: 30px;
    height: 30px;
	}
#fan .g_r img{
	width: 100%;
	}
/*<!--搜索开始-->*/	
/*搜搜区域*/
#guess1 .col-xs-6{
	padding: 5px;
}
#guess1 .col-xs-6 .gy_1{
	    display: block;
    padding: 5px;
    background: #fff;
}
#guess1 .gy_1 p{
	margin-top: 5px;
}
.back .gy_2{
	position: fixed;
	bottom: 10px;
    position: fixed;
    right: 5px;
    opacity: 0.9;
}
.back .gy_2 img{
	    position: absolute;
    bottom: 10px;
    right: 11px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 1px 1px #ccc;
}
.back .gw{
	bottom: 50px;
}
.back .gw img{
width: 30px;
    border-radius: 20%;
}
/*<!--搜索结束-->*/
#search_w .s_img{
	width: 20%;
	margin: 0 auto;
	margin-top: 20px;
}
#search_w{
	margin-top: 100px;
}
.row{
	margin: 0px;
}
.col-xs-12{
	padding: 0;
}
#fan{
	top:0px;
}





@media (min-width: 768px) { 

.back .gy_2 img{
	width: 60px;
}
.back .gw{
	bottom: 100px;
}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {  

.back .gy_2 img{
	width: 60px;
}
.back .gw{
	bottom: 100px;
}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {

.back .gy_2 img{
	width: 60px;
}
.back .gw{
	bottom: 100px;
}
 }