/*间距*/
.p0{
	padding: 0px;
}
.m0{
	margin: 0px;
}
.mr10{
	margin-right: 10px;
}
.pl0{
	padding-left: 0;
}
.pl10{
	padding-left: 10px;
}
.pl20{
	padding-left: 20px;
}
.p10{
	padding: 10px;
}
.p5{
	padding: 5px;
}
.p3{
	padding:3px;
}
.pr{
	position: relative;
}
.pt10{
	padding-top: 10px;
}
.p20{
	padding: 20px;
}
.c3{
	color: #333;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.c9{
	color: #999;
}
.fs12{
	font-size: 12px;
}
.fs16{
	font-size: 16px;
}
.fs14{
	font-size: 14px;
}
.cs{
	color: #fe9c01;
}
.ls{
	color: #79c34b;
}
a:hover {
	text-decoration: none;
}
.tub{
	width: 100%;
}
.bor10{
	border: 10px solid #F3F3F3;
}
.bor1{
	border-bottom: 1px solid #e5e5e5;
}
.btw{
	border-top: none;
}
.mt0{
	margin-bottom: 0px;
}
.mt5{
	margin-bottom: 5px;
}
.bjt{
	display: inline-block;
    top: 5px;
    left: 0px;
    width: 35px;
    height: 26px;
    background: url(../images/ban_bg.png) no-repeat;
    background-size: 35px;
}
.pt30{
	padding-top: 30px;
}
.br{
	border-right: 1px solid #e5e5e5;	
}
.oh{
	overflow: hidden;
}
.zhi{
	display: inline-block;
    height: 25px;
    width: 25px;
}
.bg{
	background: #f3f3f3;
}
.bgw{
	background: #fff;
}

.wt{
	color: #FFFFFF;
}

 .mt15{
 	margin-top: 15px;
 }
  .mt30{
 	margin-top: 30px;
 }
 .mb15{
 	margin-bottom: 15px;
 }
 .mt10{
 	margin-top: 10px;
 }
.mt5{
	margin-top: 5px;
}
.pb15{
	padding-bottom: 15px;	
}
.mb50{
	    margin-bottom: 50px;
}
.mb15{
	    margin-bottom: 15px;
}
.mb30{
	    margin-bottom: 30px;
}
.old{
text-decoration: line-through;
    font-size: 13px;
    color: #999;
    padding-left: 5px;	
	
}
.dn{
	display: none;
}
.pk{
  color: #FF689B;	
}
.mt50{
	margin-top: 50px;
}
.last{
	padding: 5px 50px;
    border-radius: 41px;
    border: 1px solid #FF689B;	
    background: #fff;
    color: #FF689B;	
    width: 50%;
}
.fw7{
	font-weight: 700;
}
.fen{
	color: #FB7574;
}
