/*<!--综合价格搜索-->*/
#sh_s i{
    display: inline-block;
    background: url(../images/good_list_05.jpg) no-repeat;
    width: 25px;
    height: 14px;
    background-size: 25px;
    margin-top: 1px;
    position: absolute;
    margin-left: 2px;
    top: 3px;
}
#sh_s i.z_1{
	    background: url(../images/good_list_03.jpg) no-repeat;
    background-size: 25px;
    background-position: 1px;
}
#sh_s i.z_2{
	background-position: -1px -14px;
	margin-left: 3px;
}
#sh_s i.z_3{
    position: absolute;
    top: -3px;
    width: 30px;
    height: 26px;
    background-size: 24px;
    margin-left: 5px;
}
.dropdown-menu{
	     min-width: 0px; 
    padding: 5px 0;
    margin: 15px 16px 0;
}
a:hover, a:focus {
    color: #FF689B;
}