.caret{
    display: inline-block;
    text-align: center;
    background: #ffffff;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 7px solid #f3f3f3;
    border-right: 9px solid rgba(255, 255, 255, 0);
    border-left: 10px solid rgba(255, 255, 255, 0);
}
.form-horizontal .form-group {
     margin-right: 0; 
     margin-left: 0; 
}
label{
	 display: block;
        margin-top: 6px; 
    float: left;
    width: 80px;
    margin-bottom: 5px;
    font-weight: 700;
        text-align: right;
}
.form-control {
    display: block;
    float: left;
    width: 72%;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    box-shadow: none;
}







@media (min-width: 768px) { 
.form-horizontal .control-label {
	float: left;
    width: 80px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 22px;
}
.form-control{
    width: 87%;
}
label{
    margin-right: 22px;
    margin-top: 0px; 
    font-size: 14px;
}
}

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {  
.form-horizontal .control-label {
	float: left;
    width: 80px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 22px;
}
.form-control{
    width: 89%;
}
label{
    margin-right: 22px;
        margin-top: 0px; 
    font-size: 14px;
}
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
.form-horizontal .control-label {
	float: left;
    width: 80px;
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    margin-right: 22px;
}
.form-control{
    width: 90%;
}
label{
    margin-right: 22px;
        margin-top: 0px; 
    font-size: 14px;
}
 }